.nav {
    width: auto;
    padding: 5px 10px;
    display: flex;
    background-color: grey;
}

.nav-title {
    margin: 10px;
    align-self: center;
    color: white;
}

.nav-links {
    margin-right: 0px;
    margin-left: auto;
    justify-content: space-around;
}

.active {
    font-weight: bold;
}

.btn {
    padding: 5px;
    border-width: 2px;
    border-color: black;
    box-shadow: 3px 3px black;
    color: white;
    background-color: rgb(66, 194, 194);
}

li{
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}
