<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <ul class="nav">
                    <li><a class="nav nav-link text-light" href="/">Home</a></li>
                </ul>
                {% if user_info %}
                <div class="text-end d-flex align-items-center">
                    <span>{{ user_info.first_name }}</span>
                    <a class="btn btn-outline-light mx-2" href="/dashboard">Dashboard</a>
                    <a class="btn btn-outline-light mx-2" href="/logout">Logout</a>
                </div>
                {% else %}
                <div class="text-end d-flex align-items-center">
                    <a class="btn btn-outline-light me-2" href="/login">Login</a>
                    <a class="btn btn-warning" href="/register">Sign Up</a>
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    <h1 class="text-center">{{ recipe_info.name }}</h1>
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table border rounded">
                <tbody>
                    <tr>
                        <th scope="row">Description:</th>
                        <td>{{ recipe_info.description }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Under 30 min:</th>
                        {% if recipe_info.under_thirty == 1 %}
                        <td>Yes</td>
                        {% elif recipe_info.under_thirty == 0 %}
                        <td>No</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Instructions:</th>
                        <td>{{ recipe_info.instruction }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Date Made:</th>
                        <td>{{ recipe_info.created_at }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>