* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gridContainer {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr .5fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: 
    "lbc head head head head rbc"
    "lb city city temp temp rb"
    "lb wCard wCard wCard wCard rb"
    "lb foot foot foot foot rb";
}

.leftBlocker {
    grid-area: lbc;
    background-color: skyblue;
}

.rightBlocker {
    grid-area: rbc;
    background-color: skyblue;
}

.headerTitle {
    display: flex;
    justify-content: flex;
    align-items: center;
}

.headerOptions {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gridItem  {
    display: flex;
}

.head {
    padding: 10px 0px;
    grid-area: head;
    justify-content: space-between;
    background-color: skyblue;
}

.head a {
    text-decoration: none;
    color: white;
}

.city, .temp {
    padding: 0px 0px 10px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 2px;
    border-style: none none solid;
}

.city {
    grid-area: city;
}

.temp {
    margin: 20px 0px;
    grid-area: temp;
    justify-content: flex-end;
}

.temp > label {
    position: relative;
    right: 5px;
}

.wCard {
    grid-area: wCard;
    justify-content: space-between;
}

.foot {
    margin: 5px 90px;
    position: fixed;
    bottom: 0px;
    grid-area: foot;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 5px;
}

div.foot {
    background-color: lightgray;
}

.cardGridContainer {
    margin: 20px;
    width: 100%;
    padding: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: 
    "day day"
    "weather weather"
    "high low";
    background-color: lightgray;
    border-radius: 5px;
}

#firstCard {
    margin-left: 0px;
}

#lastCard {
    margin-right: 0px;
}

.day {
    justify-content: center;
    align-items: center;
    grid-area: day;
}

.weather {
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: weather;
}

.weather > img {
    margin-bottom: 20px;
    width: 70%;
    border-radius: 50%;
}

.weather > p {
    margin: 10px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.high {
    justify-content: center;
    align-items: center;
    grid-area: high;
    color: red;
}

.low {
    justify-content: center;
    align-items: center;
    grid-area: low;
    color: blue;
}

.wCardItem {
    display: flex;
    padding: 5px;
}

.wCardItem > h4 {
    font-size: 110%;
}

.popUpGridContainer {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "img title btn"
    "img desc btn";
    
}

#popUp {
    padding: 10px;
}

.popUpImg {
    margin: 10px;
    grid-area: img;
    justify-content: center;
    align-items: center;
}

.popUpTitle {
    grid-area: title;
}

.popUpDesc {
    grid-area: desc;
}

.popUpBtn {
    display: flex;
    grid-area: btn;
    justify-content: center;
    align-items: center;
}

.popUpBtn > button {
    padding: 5px 10px;
    font-weight: bold;
    background-color: rgb(148, 169, 238);
    box-shadow: 2px 2px 2px black;
}