.container{
    width: 950px;
    margin: 0px auto;
    padding: 20px;
    background-color: silver;
}
.top-nav {
    height: 150px;
    margin-bottom: 20px;
    background-color: green;
}
.side-nav {
    width: 200px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    background-color: blue;
}
.main {
    width: 725px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    background-color: red;
}
.sub-content {
    width: 210px;
    height: 200px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    display: inline-block;
    background-color: yellow;
}
#advertisement {
    width: 670px;
    height: 120px;
    margin: 15px;
    background-color: purple;
}

