<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Random Numbers</h2>
    <ul>
        {% for num in random_numbers %}
        <li>{{ num }}</li>
        {% endfor %}
    </ul>
    <h2>Students</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{student['name']}}</td>
                <td>{{student['age']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>